doctype html
html(lang='ru')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        link(rel="stylesheet", href="/style.css")
        title!="Pvp.com"
    body
        nav
            ul
                li
                    a(href='#')='ТУРНИРЫ'
                li
                    a(href='#')='ВИДЕО'
                li
                    a(href='#')='КОНТАКТЫ'
                li
                    a(href='#')='О НАС'
            div#auth_block
                li#reg_button 
                    a(href='#') Регистрация
                li#auth_button
                    a(href='#') Вход