doctype html
html(lang='ru')
    head
        block title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        link(rel="stylesheet", href="/style.css")
        script(src=scripts)
    body
        header
            nav#menu
                ul
                    a(href='/')
                        img(src='https://avatars.mds.yandex.net/get-zen-logos/246004/pub_5d98868ba660d700ad0efc4c_5d9b4decc31e4900af492dc4/xxh', height="55px")
                    li
                        a(href='/tour')='ТУРНИРЫ'
                    li
                        a(href='/video')='ВИДЕО'
                    li
                        a(href='/contact')='КОНТАКТЫ'
                    li
                        a(href='/about')='О НАС'
                ul
                    li 
                        a(href='/reg') Регистрация
                    li
                        a(href='/auth') Вход
        main
            block mainContent
        footer
            p Copyright@