html
    body
        h1 User id: #{id}
        h1 firstName: #{firstName}
        h1 lastName: #{lastName}
        h1 email: #{email}
        h1 createdAt: #{createdAt}
        h1 updatedAt: #{updatedAt}

        each number in [1,2,3]
            p!=number